* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

/* header styling */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3.125rem;
    font-weight: normal;
}

header a {
    color: aquamarine;
}

/* main section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* description */
.description h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

.description p {
    font-size: 1.3125rem;
    color: gray;
}
